<div class="playWorkout">
    <button class="btn btn-primary" (click)="playWorkout()">Play</button>
    <carousel class="flex-1" (activeSlideChange)="log($event)" [interval]="false" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let training of (item | async)?.programme.training">
            <img class="img_slide" src="{{training.exercise.resources.img}}" alt="first slide">
            <span class="duration">{{ training.duration }}</span>
            <span class="rest">{{ training.rest }}</span>
            <div class="carousel-caption d-none d-md-block">
            <h5>{{ training.exercise.name }} <span>({{training.item}})</span></h5>
                <p>{{ training.exercise.description }}</p>
            </div>
        </slide>
    </carousel>
</div>
