<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav>
        <ul class="d-flex flex-row">
          <li>
            <a class="nav-link" routerLink="/workouts" routerLinkActive="active">workouts<span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a class="nav-link" routerLink="/exercises" routerLinkActive="active">Exercises</a>
          </li>
        </ul>
      </nav>
</header>
<main role="main" class="mainLayout">
  <router-outlet></router-outlet>
</main>
