/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.card {
    + .card {
        margin-top: 20px;
    }
}