/* You can add global styles to this file, and also import other style files */
html {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    background-color: #000000;
    flex: none;
}

.mainLayout {
    display: flex;
    flex: 1;
}

.rootContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.workout {
    flex: 1;
    display: flex;

    .playWorkout {
        flex: 1;
    }
}

.flex-1{
    flex: 1;
}

.carousel {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
}

.carousel-inner {
    display: flex;
    flex: 1;

    .item {
        height: 100%;
        position: relative;
    }
}

.img_slide {
    width: 100%;
    display: block;
}

.carousel-caption {
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
}

.carousel-control {
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.img_box {
    width: 200px;
    height: 200px;
}

.img_box_item {
    display: inline-block;
}

.info {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.title_exercise {
    color: red;
}

.duration {
    position: absolute;
    top: 10px;
    left: 50px;
    width: auto;
    height: 80px;
    background-color: olivedrab;
    color: #fff;
    min-width: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest {
    position: absolute;
    top: 10px;
    right: 50px;
    width: auto;
    height: 80px;
    background-color: red;
    color: #fff;
    min-width: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}